[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
requests = "*"
bs4 = "*"
lxml = "*"
yadisk = "*"
pika = "*"
pyspark = "*"
py4j = "*"
findspark = "*"
pyyaml = "*"
numpy = "*"
pymongo = "*"
dnspython = "*"
matplotlib = "*"
dataclasses-json = "*"
aio-pika = "*"
uvloop = "*"
colorama = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
asyncio = "*"
pre-commit = "*"
types-pyyaml = "*"
