[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
requests = "*"
bs4 = "*"
lxml = "*"
yadisk = "*"
pika = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
asyncio = "*"
pre-commit = "*"
types-pyyaml = "*"
